.reveal .smaller {
  font-size: .7em;
}
.reveal ul li, ol li {
    font-size: .7em;
   /* line-height: 1.3em;
    margin-left:-5cqmin; */
}
.reveal q { 
    color:rgba(25, 3, 112, 0.677);
    font-style:normal;
}
.reveal blockquote {
    color:rgb(3, 77, 126);
    font-size: .7em;
    line-height:1.1em;
    margin:0;
    text-align:left; 
    width:90%;
}
.reveal code {
  font-size: 1em;
  color:rgb(200, 4, 102);
}
.reveal pre code {
    font-size: 1em;
}

/* links: underline for accessibility!  */
.reveal a {text-decoration:underline;}

/* ebb: For Flex containers */
.reveal .flex {
  display: flex;
  gap: 2rem; 
  align-items: left;
  height:100%; /* fills the available slide height */
}

/* for the contained blocks inside a flex container */
.flex figure {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 40%;
  margin: 0;
}

.flex img, .flexReverse img {
  max-width: 100%;
  max-height: 500px; /* ebb: note: this just sets a hard limit on how big any image can scale */
}
.flex > div {
    flex-grow:1;
    flex-shrink: 1;

}

div.footer {
  text-align:left;
}